<div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/img/bg-01.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/bg-02.JPG" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/bg-03.JPG" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/bg-03.JPG" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/bg-03.JPG" alt="Third slide">
      </div>
    </div>
  </div>



<nav class="navbar navbar-expand-md fixed-top headerSecction navbar-dark">
  <button class="navbar-toggler" data-toggle="collapse" data-target="collapse_target">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapse_target">
    <!--Menu de Mi perfil-->
    <ul class="navbar-nav mr-auto">
      <!--Acerca-->
      <li class="nav-item dropdown pretty-button" routerLinkActive="active">
        <a class="nav-link text-black"routerLink='/inicio'>
          <i class="fa fa-fw fa-info-circle"></i>&nbsp;Quienes Somos
        </a>
      </li>

      <!--luceroysushow-->
      <li class="nav-item pretty-button"routerLinkActive="active">
        <a class="nav-link text-white"routerLink='/luceroysushow'>
          <i class="fa fa-fw fa-users"></i>&nbsp;Lucero y su Show
        </a>
      </li>

      <!--repertorio-->
      <li class="nav-item pretty-button"routerLinkActive="active">
        <a class="nav-link text-white"routerLink='/repertorio'>
          <i class="fa fa-fw fa-briefcase"></i>&nbsp;Repertorio
        </a>
      </li>

       <!--Ofertas-->
       <li class="nav-item pretty-button"routerLinkActive="active">
        <a class="nav-link text-white"routerLink='/videos'>
          <i class="fa fa-fw fa-briefcase"></i>&nbsp;Videos
      
        </a>
        
      </li>

       <!--Ofertas-->
       <li class="nav-item pretty-button"routerLinkActive="active">
        <a class="nav-link text-white"routerLink='/masartistas'>
          <i class="fa fa-fw fa-briefcase"></i>&nbsp;Mas artistas
        </a>
      </li>

       <!--Ofertas-->
       <li class="nav-item pretty-button"routerLinkActive="active">
        <a class="nav-link text-white"routerLink='/masservicios'>
          <i class="fa fa-fw fa-briefcase"></i>&nbsp;Mas servicios 
        </a>
       
      </li>
      <div align="center"  class="fixed-top">
          <img  src="../../assets/img/bglogo.png" height="90px"/>
      </div>
      </ul>
