.example-card {
  max-width: 300px;
  min-width: 300px;
}

.example-header-image {
  background-image: url('../../assets/img/bglogoMenu.png');
  background-size: cover;
}
.lead {
  font-size: 1.90rem;
  font-weight: 300;
  color: rgb(243, 243, 243);
  text-align: center;
}
.h1XD {
  font-size: 2.90rem;
  color: rgb(252, 252, 252);
  text-align: center;
}