

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    
      <video class="col-10" controls>  
      <source src="../../assets/videos/lucero.mp4">
       
      </video>        
      
  </mat-grid-tile>
  <mat-grid-tile>
    <video class="col-10" controls>  
      <source src="../../assets/videos/lucero.mp4">
      </video>   
  </mat-grid-tile>
  <mat-grid-tile>
    <video class="col-10" controls>  
      <source src="../../assets/videos/lucero.mp4">
      </video>   
  </mat-grid-tile>
  <mat-grid-tile>
    <video class="col-10" controls>  
      <source src="../../assets/videos/lucero.mp4">
      </video>   
  </mat-grid-tile>
  <mat-grid-tile>
    <video class="col-10" controls>  
      <source src="../../assets/videos/lucero.mp4">
      </video>   
  </mat-grid-tile>
  <mat-grid-tile>
    <video class="col-10" controls>  
      <source src="../../assets/videos/lucero.mp4">
      </video>   
  </mat-grid-tile>
</mat-grid-list>